#quiz {
    position: relative;
}

#desc {
    padding: 50px 0 20px;
}

#timer {
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: -25px;
}


#answers {
    font-size: 18px;
    list-style: none;
    text-align: center;
}
#answers li {
    display: inline-block;
}
#answers .placeholder {
    border-bottom: 1px dashed #4A9400;
    display: inline-block;
    height: 1.5em;
    margin-right: 10px;
    width: 100px;
}
#answers .placeholder.l {
    text-transform: lowercase;
}

#answers .punctuation {
    margin: 0 10px 0 -10px;
}

#suggestions {
    list-style: none;
    text-align: center;
}
#suggestions li {
    display: inline-block;
}
#suggestions .suggestion {
    color: #4A9400;
    cursor: move;
    display: inline-block;
    height: 1.5em;
    margin: 5px 15px 5px 0;
    padding: 2px 5px;
    text-shadow: 1px 1px 1px #087BCE;
}
#suggestions .suggestion.used {
    background-color: transparent;
    border: none;
    color: #087BCE;
    padding-top: 10px;
    text-shadow: none;
}
#suggestions .suggestion.capital {
    text-transform: capitalize;
}

#score-next {
    padding-top: 50px;
    text-align: right;
}
.next {
    float: right;
}

#score {
    color: red;
    padding: 10px;
    float: left;
    font-weight: bold;
}


#top-scorers-title {
    color: #E31508;
    font-size: 130%;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #087BCE;
}
#top-scorers {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 70%;
}
#top-scorers li {
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
}
#top-scorers li.current-user {
    font-weight: bold;
}
#top-scorers span {
    display: inline-block;
    overflow: hidden;
}
#top-scorers .rank {
    padding-right: 5%;
    text-align: center;
    width: 5%;
}
#top-scorers li:first-child .rank {
    color: #087BCE;
    font-size: 150%;
    font-weight: bold;
}
#top-scorers li:nth-child(2) .rank {
    color: #E31508;
    font-size: 130%;
    font-weight: bold;
}
#top-scorers li:nth-child(3) .rank {
    color: #4A9400;
    font-size: 110%;
    font-weight: bold;
}
#top-scorers .user {
    padding-right: 5%;
    width: 55%;
}
#top-scorers .user img {
    padding-right: 20px;
}
#top-scorers .score {
    width: 25%;
}

.replay {
    padding: 20px;
    text-align: center;
}
