{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Proverbs - Home{% endblock %}

{% block javascript %}
    <!--<script src="{% static "proverbs/js/models/proverb.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/collections/proverbs.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/views/proverb.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/views/app.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/routers/router.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/app.js" %}"></script>-->
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "proverbs/css/index.css" %}">
{% endblock %}

{% block content %}
<a href="{% url 'proverbs:index' %}" id="logo" title="Ушбу саҳифани бошқадан очиш"><span>Ўзбек</span> <span>Мақоллари</span></a>
<div class="desc">
    Ўзбек мақолларини қанчалик яхши биласиз? "Бошлаш" тугмасини босинг ва ўз билимингизни синаб кўринг.
</div>
<div class="start">
    <a href="{% url "proverbs:quiz" %}" class="button">Бошлаш</a>
</div>

<div id="top-scorers-title">Аълочилар рўйхати</div>
<ul id="top-scorers">
    {% for scorer in top_scorers %}
    <li {% if scorer.current_user %}class="current-user"{% endif %}>
        <span class="rank" title="Ўрин">
            {{ scorer.rank }}
        </span>
        <span class="user">
            <img src="{{ scorer.photo_url }}" width=50 height=50 alt="{{ scorer.name }}" title="{{ scorer.name }}">
            {{ scorer.name }}
        </span>
        <span class="score" title="Тўплаган балли">
            {{ scorer.score }} балл
        </span>
    </li>
    {% endfor %}
</ul>
<br>

{% endblock content %}

