{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Proverbs - Home{% endblock %}

{% block javascript %}
    <!--<script src="{% static "proverbs/js/models/proverb.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/collections/proverbs.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/views/proverb.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/views/app.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/routers/router.js" %}"></script>-->
    <!--<script src="{% static "proverbs/js/app.js" %}"></script>-->
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "proverbs/css/index.css" %}">
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ facebook.APP_ID }}',
            channelUrl : window.location.orgin + '{% url 'proverbs:facebook_channel' %}',
            status     : true,
            cookie     : true,
            xfbml      : true
        });

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // connected
            } else if (response.status === 'not_authorized') {
                // not_authorized
            } else {
                // not_logged_in
            }
        });
    };

    function login() {
        FB.login(function(response) {
            if (response.status === 'connected') {
                var data = (window.location.search !== '') ? '&' : '?';
                data += 'access_token=' + response.authResponse.accessToken;
                data += '&expires=' + response.authResponse.expiresIn.toString();
                data += '&uid=' + response.authResponse.userID;
                //console.log(data, response);
                window.location.href = window.location.href + data; 
            } else {
                // cancelled
            }
        }, {scope: 'email,publish_stream'});
        return false;
    }

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<a href="{% url 'proverbs:index' %}" id="logo" title="Ушбу саҳифани бошқадан очиш"><span>Ўзбек</span> <span>Мақоллари</span></a>
<div class="desc">
    Ўзбек мақолларини қанчалик яхши биласиз? "Бошлаш" тугмасини босинг ва ўз билимингизни синаб кўринг.
</div>
<div class="start">
    <a href="{% url "proverbs:quiz" %}" class="button" {%if not fb_profile %}onclick="login(); return false;"{% endif %}>Бошлаш</a>
    {% if not fb_profile %}
        <br>
        <small>Ушбу ўйин тўғри ишлаши учун сиздан ўйинни бошлашингиздан олдин рухсат сўралади.</small>
    {% endif %}
</div>

<div id="top-scorers-title">Аълочилар рўйхати</div>
<ul id="top-scorers">
    {% for scorer in top_scorers %}
    <li {% if scorer.current_user %}class="current-user"{% endif %}>
        <span class="rank" title="Ўрин">
            {{ scorer.rank }}
        </span>
        <span class="user">
            <img src="{{ scorer.photo_url }}" width=50 height=50 alt="{{ scorer.name }}" title="{{ scorer.name }}">
            {{ scorer.name }}
        </span>
        <span class="score" title="Тўплаган балли">
            {{ scorer.score }} балл
        </span>
    </li>
    {% endfor %}
</ul>
<br>




{% endblock content %}

