{% extends "./base.html" %}
{% load staticfiles %}

{% block page_title %}Proverbs - Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/vendor/jquery-ui/no-theme/jquery-ui-1.10.2.custom.css" %}">
    <link rel="stylesheet" href="{% static "proverbs/css/quiz.css" %}">
{% endblock %}

{% block javascript %}
    <script src="{% static "js/vendor/jquery-ui-1.10.2.custom.js" %}"></script>
    <script src="{% static "proverbs/js/models/quiz.js" %}"></script>
    <script src="{% static "proverbs/js/collections/quiz.js" %}"></script>
    <script src="{% static "proverbs/js/views/quiz.js" %}"></script>
    <script>
        $(function () {
            app.data = {};
            app.data.quiz = {
                description: '{{ description|escapejs }}',
                question: [
                    {% for q in question %}
                        '{{ q|escapejs }}'{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                suggestions: [
                    {% for suggestion in suggestions %}
                        '{{ suggestion|escapejs }}'{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                score: 0,   // on page load
                hints: {{ hints }},
                time: {{ time }},
                uuid: '{{ uuid }}',
                number: {{ number }},
                checkUrl: '{{ check_url }}',
                nextUrl: '{{ next_url }}',
                saveScoreUrl: '{{ save_score_url }}'
            };

            app.quiz = new app.Quiz(app.data.quiz);
            app.quizView = new app.QuizView({model: app.quiz});
        });
    </script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="quiz">
    </div>

    <div id="top-scorers-popup" class="popup-holder">
        <div class="cover"></div>
        <div class="popup">
            <div id="top-scorers-title">Аълочилар рўйхати</div>
            <ul id="top-scorers">
            </ul>
            <div class="replay">
                <a href="{% url 'proverbs:quiz' %}" class="button">Яна ўйнаш</a>
            </div>
        </div>
    </div>

    <script id="quiz-template" type="text/html">
        <span id="timer" title="Қолган вақт">
            {# a moving timer #}
            <%= time %>
        </span>
        <div id="desc">
            <%= description %>
        </div>
        <ul id="answers">
            {# placeholders for each word + punctuation marks #}
        </ul>
        <ul id="suggestions">
        </ul>
        <div id="hints" style="display: none;">
            {# total number of hints #}
            <%= hints %>
        </div>
        <div id="score-next">
            <span id="score" title="Тўпланган балл">
                {# initially 0, but increases with each correct answer #}
                <%= score %>
            </span>
            {# move to the next question if correct, or skip if not complete or wrong #}
            <a href="#" class="next button"><span>Кейингиси</span> &rarr;</a>
        </div>
        <div class="clear"></div>
    </script>

    <script id="answer-template" type="text/html">
        <% if (val === 'u' || val === 'l') { %>
            <span class="placeholder" data-id="<%= id %>"></span>
        <% } else { %>
            <span class="punctuation"><%= val %></span>
        <% } %>
    </script>

    <script id="suggestion-template" type="text/html">
        <span class="suggestion" data-id="<%= id %>"><%= text %></span>
    </script>

    <script id="timer-template" type="text/html">
        <span class="mins"><%= mins %></span>
        <span class="sep">:</span>
        <span class="secs"><%= (secs < 10) ? '0' + secs : secs %></span>
    </script>

    <script id="top-scorer-template" type="text/html">
        <span class="rank" title="Ўрин">
            <%= rank %>
        </span>
        <span class="user">
            <img src="<%= photo_url %>" width=50 height=50 alt="<%= name %>" title="<%= name %>">
            <%= name %>
        </span>
        <span class="score" title="Тўплаган балли">
            <%= score %> балл
        </span>
    </script>
{% endblock content %}
