{% extends "./base.html" %}
{% load staticfiles %}

{% block page_title %}Proverbs - Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/vendor/jquery-ui/no-theme/jquery-ui-1.10.2.custom.css" %}">
    <link rel="stylesheet" href="{% static "proverbs/css/quiz.css" %}">
{% endblock %}

{% block javascript %}
    <script src="{% static "js/vendor/jquery-ui-1.10.2.custom.js" %}"></script>
    <script src="{% static "proverbs/js/models/quiz.js" %}"></script>
    <script src="{% static "proverbs/js/views/quiz.js" %}"></script>
    <script>
        $(function () {
            app.data = {
                desc: '{{ description|escapejs }}',
                question: {
                    {% for q in question %}
                        {{ forloop.counter }}: '{{ q|escapejs }}'{% if not forloop.last %},{% endif %}
                    {% endfor %}
                },
                suggestions: [
                    {% for suggestion in suggestions %}
                        '{{ suggestion|escapejs }}'{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                score: 0,   // on page load
                hints: {{ hints }},
                time: {{ time }}
            }
            app.quiz = new app.Quiz(app.data);
            app.quizView = new app.QuizView({model: app.quiz});
        });
    </script>
{% endblock %}

{% block content %}

    <div id="quiz">
    </div>

    {{ start }}

    <script id="quiz-template" type="text/html">
        <div id="timer">
            {# a moving timer #}
            <%= time %>
        </div>
        <div id="desc">
            <%= desc %>
        </div>
        <div id="question">
            {# placeholders for each word + punctuation marks #}
            <% _.each(question, function (val, key) { %>
                <% if (val === 'u' || val === 'l') { %>
                    <span class="placeholder" data-key="<%= key %>"></span>
                <% } else { %>
                    <span class="punctuation"><%= val %></span>
                <% } %>
            <% }) %>
        </div>
        <div id="suggestions">
            <% _.each(suggestions, function (val, key) { %>
                <span class="suggestion" data-key="<%= key %>"><%= val %></span>
            <% }) %>
        </div>
        <div id="score">
            {# initially 0, but increases with each correct answer #}
            <%= score %>
        </div>
        <div id="hints">
            {# total number of hints #}
            <%= hints %>
        </div>
        <div id="next">
            {# move to the next question if correct, or skip if not complete or wrong #}
            <a class="next">Next | Skip</a>
        </div>
    </script>
{% endblock content %}
